/* press-start-2p-regular - latin */
@font-face {
	font-family: "Press Start 2P";
	font-style: normal;
	font-weight: 400;
	src: url("../font/press-start-2p-v14-latin-regular.eot");
	/* IE9 Compat Modes */
	src: local(""),
		url("../font/press-start-2p-v14-latin-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../font/press-start-2p-v14-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../font/press-start-2p-v14-latin-regular.woff") format("woff"),
		/* Modern Browsers */
		url("../font/press-start-2p-v14-latin-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../font/press-start-2p-v14-latin-regular.svg#PressStart2P") format("svg");
	/* Legacy iOS */
}

* {
	font-family: "Press Start 2P";
}

body {
	margin: 0;
	background-color: black;
	/* disable text selection which occurs while holding the direction buttons to move player */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}